{
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "jsxSingleQuote": true,
  "jsxBracketSameLine": true,
  "quoteProps": "consistent",
  "bracketSpacing": false
}
