@import '../globals';

.hero {
  background: $dark;
  color: white;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
}

.hero__inner {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  max-width: $max_width;
  width: 100%;
}

.hero__column {
  align-items: center;
  display: flex;
  height: 100%;
  width: 50%;

  &--left {
    position: relative;
  }

  &--right {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.hero__text-container {
  font-weight: 300;
  text-align: left;
  transform: translateY(-5rem);
  width: 100%;
}

.hero__title {
  font-size: 5rem;
  font-weight: inherit;
  position: relative;

  &::before {
    color: $charcoal;
    content: '<h1>';
    font-family: 'La Belle Aurore', cursive;
    font-size: 2rem;
    left: -5rem;
    position: absolute;
    top: 3.5rem;
  }

  &::after {
    bottom: 0;
    color: $charcoal;
    content: '</h1>';
    font-family: 'La Belle Aurore', cursive;
    font-size: 2rem;
    position: absolute;
    right: -5rem;
  }
}

.hero__title-newline {
  display: block;
  text-align: right;
}

.hero__name {
  color: $teal;
}

.hero__title-ampersand {
  color: $teal;
  font-size: 3rem;
  font-weight: inherit;
  margin-left: 10rem;
}

.hero__subtitle {
  color: $charcoal;
  font-size: 1.8rem;
  font-weight: inherit;
  letter-spacing: 0.9rem;
  margin-bottom: 0;
  margin-left: 5rem;
  white-space: nowrap;
}

.hero__svg-container {
  transform: translateY(5rem);
}

.hero__btn {
  align-self: center;
  background: transparent;
  border: 0.2rem solid $teal;
  color: $teal;
  font-size: 1.8rem;
  letter-spacing: 0.9rem;
  margin: 0;
  padding: 1rem 2rem;
  transition: background 0.3s, color 0.3s;

  &:hover {
    background: $teal;
    color: white;
  }
}
