@import '../../globals';

.skills {
  background: $dark;
  display: flex;
  justify-content: center;
  outline: 1px solid red;
  position: fixed;

  * {
    outline: 1px solid red;
  }
}

.skills__background {
  height: 100%;
  position: absolute;
  width: 100%;
}

.skills__overlay {
  background: $darker;
  height: 100%;
  left: 0;
  opacity: 0.9;
  position: absolute;
  top: 0;
  width: 100%;
}

.skills__outer {
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100vw;
}

.skills__inner {
  align-items: center;
  background: transparent;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 0 5rem;
  position: relative;
  width: 100%;

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.skills__column {
  align-items: center;
  display: flex;

  &--left {
    flex-direction: column;
    position: relative;
    width: 40%;
  }

  &--right {
    width: 60%;
  }

  @media (max-width: $mobile) {
    width: 100%;

    &--left {
      flex-direction: column;
      height: 50%;
    }

    &--right {
      height: 50%;
    }
  }
}

.skills__title {
  color: $teal;
  font-size: 6rem;
  font-weight: 900;
  position: relative;
  text-align: left;
  transform: translateX(-5rem);

  &::before {
    color: $charcoal;
    content: '<h1>';
    font-family: 'La Belle Aurore', cursive;
    font-size: 2rem;
    left: 0;
    position: absolute;
    top: -1.5rem;
  }

  &::after {
    bottom: -2.5rem;
    color: $charcoal;
    content: '</h1>';
    font-family: 'La Belle Aurore', cursive;
    font-size: 2rem;
    left: -2rem;
    position: absolute;
  }

  @media (max-width: $mobile) {
    font-size: 3rem;
    margin: 2rem 0;
    position: relative;
    text-align: center;
    top: 0;
    transform: initial;

    &::before,
    &::after {
      display: none;
    }
  }
}

.skills__paragraph {
  line-height: 2;
  position: relative;
  text-align: left;
  text-indent: 3rem;
  transform: translateX(5rem);
  z-index: 1;

  @media (max-width: $mobile) {
    font-size: 1rem;
    line-height: initial;
    text-indent: initial;
    transform: initial;
  }
}

.skills__sphere-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}
