@import '../../../globals';

.timer {
    margin: 2rem 0 8rem;
    position: relative;
}

.timer__bg {
    background: $teal;
    border-radius: 50%;
    content: '';
    height: 2.5rem;
    opacity: 0.2;
    width: 2.5rem;
}

.timer__clock {
    border: 1rem solid transparent;
    border-radius: 50%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    &.bottom-active {
        border-bottom-color: $teal;
    }

    &.top-active {
        border-top-color: $teal;
    }

    &.left-active {
        border-left-color: $teal;
    }

    &.right-active {
        border-right-color: $teal;
    }
}
