@import '../../globals';

.contact {
    background: $dark;
    height: 100%;
    position: fixed;
}

.contact__inner {
    display: flex;
    height: 100%;
    max-width: $max-width;
    position: relative;
    width: 100%;
}

.contact__column {
    position: relative;
    width: 50%;

    &--left {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 5rem;
    }

    @media (max-width: $mobile) {
        height: 100%;
        width: 100%;

        &--right {
            display: none;
        }
    }
}

.contact__title {
    color: $teal;
    font-size: 6rem;
    font-weight: 900;
    margin: 5rem 0;
    position: relative;
    text-align: left;
    width: 100%;

    &::before {
        color: $charcoal;
        content: '<h1>';
        font-family: 'La Belle Aurore', cursive;
        font-size: 2rem;
        left: 0;
        position: absolute;
        top: -1.5rem;
    }

    &::after {
        bottom: -2.5rem;
        color: $charcoal;
        content: '</h1>';
        font-family: 'La Belle Aurore', cursive;
        font-size: 2rem;
        left: -2rem;
        position: absolute;
    }

    @media (max-width: $mobile) {
        font-size: 3rem;
        text-align: center;

        &::before,
        &::after {
            display: none;
        }
    }
}

.contact__paragraph {
    color: white;
    line-height: 2.5rem;
    text-align: left;

    @media (max-width: $mobile) {
        font-size: 1.2rem;
    }
}

.contact__form {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 3fr;
    margin-top: 3rem;
    width: 100%;
}

.contact__field {
    height: 100%;
    outline: 0;
    position: relative;
    width: 100%;

    &:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    &:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    &:nth-child(3) {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    &:nth-child(4) {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    input,
    textarea {
        background: #2b2b2b;
        border: 0;
        color: white;
        font-weight: 300;
        height: 100%;
        outline: 0;
        padding: 1.7rem;
        position: relative;
        width: 100%;

        @media (max-width: $mobile) {
            font-size: 1.2rem;
            padding: 1rem;
        }
    }

    &::before {
        background: $teal;
        bottom: 0;
        content: '';
        height: 0.2rem;
        left: 0;
        position: absolute;
        transition: width 0.2s linear;
        width: 0;
        z-index: 9999;
    }

    &.active::before {
        width: 100%;
    }
}

.contact__maps {
    height: 100%;
    width: 100%;
}

.contact__info {
    background: $darker;
    border-bottom-right-radius: 3px;
    font-weight: 300;
    left: 0;
    letter-spacing: 1rem;
    line-height: 3rem;
    padding: 1rem 2rem;
    position: absolute;
    text-align: left;
    top: 0;

    svg {
        color: $teal;
        position: absolute;
        right: 40px;
        top: 20px;
    }
}

.contact__email {
    letter-spacing: 0.3rem;
    margin: 0;

    span {
        color: $teal;
        margin: 0;
    }
}

.contact__code {
    bottom: 0;
    left: 0;
    position: absolute;
}

.contact__code-link {
    color: $teal;
    text-decoration: none;
}