@import '../../globals';

.nav {
  align-items: center;
  background: $darker;
  color: $charcoal;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  position: fixed;
  right: 0;
  top: 0;
  width: 8rem;
  z-index: 9999;

  @media (max-width: $mobile) {
    bottom: 0;
    flex-direction: row;
    height: 8rem;
    right: initial;
    top: initial;
    width: 100%;
  }
}

.nav__nav-list {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;

  @media (max-width: $mobile) {
    display: flex;
    justify-content: center;
  }
}

.nav__nav-item {
  @include transition(0.3);

  cursor: pointer;
  position: relative;
  text-align: center;

  &:hover {
    color: $teal;
  }
}

.nav__item-content {
  align-items: center;
  display: flex;
  height: 8rem;
  justify-content: center;
  transition: opacity 0.3s;
  width: 8rem;

  &.active {
    opacity: 1;
  }

  &.hidden {
    opacity: 0;
  }

  &--text {
    position: absolute;
  }
}

.nav__icon {
  height: 100%;
  padding: 2.5rem;
  width: 100%;
}

.nav__logo-container {
  align-items: center;
  background: $darkest;
  color: $teal;
  display: flex;
  flex-direction: column;
  height: 8rem;
  justify-content: center;
  width: 100%;

  @media (max-width: $mobile) {
    display: none;
  }
}

.nav__logo-text {
  font-size: 1.5rem;
}
