@import '../../../globals';

$screen_height: 80px;
$screen_width: 160px;

@keyframes infiniteSlideB {
  0% {
    transform: translateY($screen_height * -2);
  }

  100% {
    transform: translateY(0);
  }
}

.screen-horizontal {
  align-items: center;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  transform: translate(90px, -291px);
}

.screen-horizontal__inner {
  height: $screen_height;
  overflow: hidden;
  position: relative;
  width: $screen_width;
}

.screen-horizontal__frame {
  background: transparent;
  border: 5px solid $darker;
  height: $screen_height;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.screen-horizontal__track {
  animation: infiniteSlideB 20s linear infinite;
  position: absolute;
  width: 100%;
}

.screen-horizontal__activity {
  background: url('../../../static/horizontal-screen.svg') center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: $screen_height;
  position: relative;
  width: 100%;
}

.screen-horizontal__base {
  background: $darker;
  border: 10px solid $darkest;
  border-left-color: #161616;
  border-right-color: #161616;
  border-top: 0;
  height: 20px;
  position: relative;
  width: 60px;
}

.screen-horizontal__base-bottom {
  background: $darker;
  bottom: -18px;
  height: 8px;
  position: absolute;
  transform: translateX(-10px);
  width: 60px;
}
