$charcoal: #7c7c7c;
$dark: #1e1e1e;
$darker: #0e0e0e;
$darkest: #010101;
$light-gray: #b0bec5;
$off-white: #dfdfdf;
$teal: #0cfdd7;

$max-width: 1400rem;

$mobile-sm: 320px;
$mobile-md: 375px;
$mobile-lg: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptop-lg: 1440px;
$desktop: 2560px;

@mixin transition($time, $property: all, $easing: ease-in) {
    transition: $property $time $easing !important;
}

@keyframes typed-js-blink {
    50% {
        opacity: 0;
    }
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}

@mixin fade-in($delay: 0) {
    animation: fade-in 1s $delay forwards;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

html,
body {
    background: $darker;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin: 0;
}

body {
    color: white;
    font-size: 1.5rem;
}

::-webkit-scrollbar {
    background: white;
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: $dark;
}

::-webkit-scrollbar-thumb {
    background: $dark;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #f5f5f5;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

.mobile-btn {
    background: $teal;
    border: 0;
    color: $darker;
    display: none;
    height: 3.5rem;
    outline: 0;
    padding: 0;
    position: fixed;
    right: 1rem;
    width: 3.5rem;
    z-index: 9998;

    @media (max-width: $mobile-lg) {
        display: block;
    }

    &:nth-child(1) {
        bottom: 5.5rem;
    }

    &:nth-child(2) {
        bottom: 1rem;
    }
}
