$charcoal: #7c7c7c;
$dark: #2e2e2e;
$darker: #0e0e0e;
$darkest: #010101;
$teal: #0cfdd7;

$max_width: 100rem;

$mobile: 425px;
$tablet: 768px;
$laptop: 1024px;

@mixin transition($time, $property: all, $easing: ease-in) {
  transition: $property $time $easing !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

html,
body {
  background: $darker;
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin: 0;
}

body {
  color: white;
  font-size: 1.5rem;
}

::-webkit-scrollbar {
  background: white;
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: $dark;
}

::-webkit-scrollbar-thumb {
  background: $dark;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #f5f5f5;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}
