@import '../../globals';

.work {
    background: $darker;
}

.work__outer {
    align-items: center;
    background: $darker;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;

    &.hidden {
        filter: blur(8px) grayscale(1);
    }
}

.work__inner {
    height: 90%;
    margin-right: 7rem;
    position: relative;
    width: 90%;

    @media (max-width: $mobile) {
        flex-direction: column;
        margin-right: initial;
    }
}

.work__title {
    color: $charcoal;
    font-size: 25rem;
    left: -3rem;
    position: absolute;
    top: -15rem;

    &::after {
        bottom: 5rem;
        color: $teal;
        content: '</h1>';
        font-family: 'La Belle Aurore', cursive;
        font-size: 2rem;
        position: absolute;
        right: -6rem;
    }
}

.project {
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transform: scale(0);
    transition: all 0.3s;
    width: calc(100% - 7rem);

    &.active {
        opacity: 1;
        transform: scale(1);
    }
}

.project__icon-container {
    color: $teal;
    cursor: pointer;
    height: 3rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 3rem;
}

.project__title {
    font-size: 3rem;
    left: 50%;
    max-width: 120rem;
    text-align: left;
}

.project__inner {
    height: 100%;
    left: 50%;
    max-width: 120rem;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
}

.project__column-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.project__column {
    flex: 1;
}

.project__main-img-container {
    width: 100%;
}

.project__main-img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}
