@import '../../globals';

.work {
  background: $darker;
  position: fixed;
}

.work__inner {
  height: 100%;
  position: relative;
  width: 100%;
}

.work__title {
  color: $charcoal;
  font-size: 25rem;
  left: -3rem;
  position: absolute;
  top: -10rem;

  &::after {
    bottom: 5rem;
    color: $teal;
    content: '</h1>';
    font-family: 'La Belle Aurore', cursive;
    font-size: 2rem;
    position: absolute;
    right: -6rem;
  }
}
