@import '../../globals';

.slider {
    height: 100%;
    width: 100%;
}

.slider__container {
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}

.slider__track {
    display: flex;
    justify-content: center;
    left: 0;
    position: relative;
    top: 0;
}

.slider__btn {
    align-items: center;
    background: $darker;
    border: 0.2rem solid $teal;
    border-radius: 50%;
    color: $teal;
    cursor: pointer;
    display: flex;
    font-size: 3rem;
    height: 5rem;
    justify-content: center;
    position: absolute;
    top: 25rem;
    transition: background 0.2s, color 0.2s;
    width: 5rem;
    z-index: 1;

    &--prev {
        left: 10rem;
    }

    &--next {
        right: 10rem;
    }

    &:hover {
        background: $teal;
        color: $darkest;
    }

    svg {
        height: 4rem;
        width: 4rem;

        @media (max-width: $mobile-lg) {
            height: 2rem;
            width: 2rem;
        }
    }

    @media (max-width: $mobile-lg) {
        font-size: 1.5rem;
        height: 3rem;
        top: 35rem;
        width: 3rem;
    }
}

.slider__list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    max-width: $max-width;
    padding: 5rem 0;
    position: relative;
    transition: transform 0.5s;
    width: 100%;
}

.slider__list-item {
    $card-body-height: 57px;
    $card-width: 375px;
    $card-height: 300px + $card-body-height;

    height: $card-height;
    perspective: 337.5px;
    width: $card-width;

    @media (max-width: $mobile-lg) {
        height: 250px;
        width: 275px;
    }
}

.slider__card-face {
    align-items: center;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;
}

.slider__card-header {
    flex: 9;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;

    &::before {
        align-items: center;
        background: rgba(0, 0, 0, 0.8);
        content: 'View Details';
        display: flex;
        height: calc(100% + 4px);
        justify-content: center;
        left: -2px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        top: -2px;
        transition: all 0.3s;
        width: calc(100% + 4px);
    }
}

.slider__card-image {
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    transition: 0.3s ease;
    width: 100%;
}

.slider__card-body {
    align-items: center;
    background: $dark;
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: 1.5rem;
    justify-content: center;
    padding: 1rem 0;
    width: 100%;

    @media (max-width: $mobile-lg) {
        font-size: 1rem;
        padding: 0.5rem 0;
    }
}

.slider__card-text {
    font-weight: 400;

    &:last-child {
        font-weight: 500;
    }
}

.slider__card {
    background: $dark;
    box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.4);
    cursor: pointer;
    height: 100%;
    overflow: hidden;
    position: relative;
    transform: scale(0.8);
    transform-style: preserve-3d;
    transition: transform 0.5s;
    width: 100%;

    &.is-center {
        transform: scale(1.2);
    }

    &.is-center:hover .slider__card-header::before {
        opacity: 1;
        z-index: 999;
    }

    &.is-center:hover .slider__card-image {
        transform: scale(1.2);
    }

    &.is-left-outer-card {
        transform: rotateY(30deg) scale(0.78);
    }

    &.is-right-outer-card {
        transform: rotateY(-30deg) scale(0.78);
    }

    &.is-left-inner-card {
        transform: rotateY(30deg) scale(0.8);
    }

    &.is-right-inner-card {
        transform: rotateY(-30deg) scale(0.8);
    }
}
